  <link href="/css/jqx.base.css" rel="stylesheet" type="text/css" /> 
	<script type="text/javascript" src="/js/view/sum/list.js"></script>	
	<script type="text/javascript" src="/js/view/sum/chart.js"></script>
	<script type="text/javascript" src="/js/view/sum/pie.js"></script>
	<script type="text/javascript" src="/js/view/bar/bar.js"></script>
	<script type="text/javascript" src="/js/plugins/charts/jquery.flot.orderBars.js"></script>
	        
  <script type="text/javascript" src="/js/view/meter/jqxcore.js"></script>         
  <script type="text/javascript" src="/js/view/meter/jqxdata.js"></script>       
  <script type="text/javascript" src="/js/view/meter/jqxchart.js"></script>         
  <script type="text/javascript" src="/js/view/meter/jqxgauge.js"></script>                 
  <script type="text/javascript" src="/js/view/meter/meter.js"></script>


		    <!-- Content wrapper -->
		    <div class="wrapper">

			     <!-- Content head -->
			        <% include ../includes/contentHead.html %>	
			    <!-- /Content head -->
			    
			    
			  <div class="widget-title">
		         <h5 class="widget-name"><i class="icon-align-justify"></i>排名</h5>
		    </div>
		    
		    	<div class="row-fluid">

    					<div class="span4">
    
    						<% var tabIdx = 0, mode='TuxState' %>
    						<% var item = all['TuxStateTimeOutTop'], type='TimeOutTop',subtype='' %>
    						<% include ../includes/widget/top.html %>		
						
    					</div>
    					
    					<div class="span4">    
    					    
    					 	<% var item = all['TuxStateCalledSumByLcu'], type='CalledSum',subtype='ByLcu' %>
    						<% include ../includes/widget/top.html %>					
    						
    					</div>
    
    					<div class="span4">    
    					    
    					    <% var item = all['TuxStateFailedSumByLcu'], type='FailedSum',subtype='ByLcu' %>
    						<% include ../includes/widget/top.html %>   								
    						
    					</div>
					

				</div>
				
				
				
				<div class="widget-title">
		          <h5 class="widget-name"><i class="ico-upload"></i>计量表</h5>
		    </div>
		    
		    <div class="row-fluid">
					  <div class="span4">
					      	  <% var meterChartIdx = 0 %>
        						<% var item = all['TuxStateCalledSumByTimeAtHours0'], 
        							mode='TuxState', type='CalledSumByTime',subtype='AtHours';
        						%>
        						<% include ../includes/widget/chart-meter.html %>	
			       </div>  
			       
			       <div class="span4">
					          <% var item = all['TuxStateCalledSumByTimeAtHours1'], 
        							mode='TuxState', type='CalledSumByTime',subtype='AtHours1';
        					  %>
        						<% include ../includes/widget/chart-meter.html %>	
			       </div>  
			       
			       <div class="span4">
					          <% var item = all['TuxStateCalledSumByTimeAtHours2'], 
        							mode='TuxState', type='CalledSumByTime',subtype='AtHours2';
        						%>
        						<% include ../includes/widget/chart-meter.html %>	
			       </div>  
			  </div>
			  

			    
		    
        <div class="widget-title">
		          <h5 class="widget-name"><i class="icon-signal"></i>曲线图</h5>
		    </div>
				<div class="row-fluid">

					<div class="span4">

						<% var chartAreaIdx = 0 %>

						<% var item = all['TuxStateCalledSumByTimeAtHours'], 
							mode='TuxState', type='CalledSumByTime',subtype='AtHours';
							item.color='#46bb00' %>
						<% include ../includes/widget/chart-area.html %>	

					</div>

					<div class="span4">

						<% var item = all['TuxStateFailedSumByTimeAtHours'], 
							mode='TuxState', type='FailedSumByTime',subtype='AtHours';
							item.color='#f1553c' %>
						<% include ../includes/widget/chart-area.html %>	

					</div>
					
					<div class="span4">

						<% var item = all['TuxStateFailedSumByTimeAtDay'], 
							mode='TuxState', type='FailedSumByTime',subtype='AtDay';
							item.color='#f1553c' %>
						<% include ../includes/widget/chart-area.html %>

					</div>


				</div>
				
				
				<div class="widget-title">
		          <h5 class="widget-name"><i class="icon-bar-chart"></i>柱状对比图</h5>
		    </div>
		    
		    <div class="row-fluid">
					  <div class="span4">
					      	  <% var colChartIdx = 0 %>
        						<% var item = all['TuxStateCalledSumByTimeAt28'], 
        							mode='TuxState', type='CalledSumByTime',subtype='At28';
        						%>
        						<% include ../includes/widget/chart-cloumn.html %>	
			       </div>  
			       
			       <div class="span4">
					          <% var item = all['TuxStateCalledSumByTimeAt28a'], 
        							mode='TuxState', type='CalledSumByTime',subtype='At28';
        					  %>
        						<% include ../includes/widget/chart-cloumn.html %>	
			       </div>  
			       
			       <div class="span4">
					          <% var item = all['TuxStateCalledSumByTimeAt29'], 
        							mode='TuxState', type='CalledSumByTime',subtype='At29';
        						%>
        						<% include ../includes/widget/chart-cloumn.html %>	
			       </div>  
			  </div>


	</div>
		    <!-- /content wrapper -->