<!DOCTYPE html>
<html lang="zh">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<title>Pannonia - premium responsive admin template by Eugene Kopyov</title>
<link href="css/main.css" rel="stylesheet" type="text/css" />
<!--[if IE 8]><link href="css/ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if IE 9]><link href="css/ie9.css" rel="stylesheet" type="text/css" /><![endif]-->

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>

<script type="text/javascript" src="js/plugins/charts/excanvas.min.js"></script>
<script type="text/javascript" src="js/plugins/charts/jquery.flot.js"></script>
<script type="text/javascript" src="js/plugins/charts/jquery.flot.resize.js"></script>
<script type="text/javascript" src="js/plugins/charts/jquery.sparkline.min.js"></script>

<script type="text/javascript" src="js/plugins/ui/jquery.easytabs.min.js"></script>
<script type="text/javascript" src="js/plugins/ui/jquery.collapsible.min.js"></script>
<script type="text/javascript" src="js/plugins/ui/jquery.mousewheel.js"></script>
<script type="text/javascript" src="js/plugins/ui/jquery.bootbox.min.js"></script>
<script type="text/javascript" src="js/plugins/ui/jquery.colorpicker.js"></script>
<script type="text/javascript" src="js/plugins/ui/jquery.timepicker.min.js"></script>
<script type="text/javascript" src="js/plugins/ui/jquery.jgrowl.js"></script>
<script type="text/javascript" src="js/plugins/ui/jquery.fancybox.js"></script>
<script type="text/javascript" src="js/plugins/ui/jquery.fullcalendar.min.js"></script>
<script type="text/javascript" src="js/plugins/ui/jquery.elfinder.js"></script>

<script type="text/javascript" src="js/plugins/uploader/plupload.js"></script>
<script type="text/javascript" src="js/plugins/uploader/plupload.html4.js"></script>
<script type="text/javascript" src="js/plugins/uploader/plupload.html5.js"></script>
<script type="text/javascript" src="js/plugins/uploader/jquery.plupload.queue.js"></script>

<script type="text/javascript" src="js/plugins/forms/jquery.uniform.min.js"></script>
<script type="text/javascript" src="js/plugins/forms/jquery.autosize.js"></script>
<script type="text/javascript" src="js/plugins/forms/jquery.inputlimiter.min.js"></script>
<script type="text/javascript" src="js/plugins/forms/jquery.tagsinput.min.js"></script>
<script type="text/javascript" src="js/plugins/forms/jquery.inputmask.js"></script>
<script type="text/javascript" src="js/plugins/forms/jquery.select2.min.js"></script>
<script type="text/javascript" src="js/plugins/forms/jquery.listbox.js"></script>
<script type="text/javascript" src="js/plugins/forms/jquery.validation.js"></script>
<script type="text/javascript" src="js/plugins/forms/jquery.validationEngine-en.js"></script>
<script type="text/javascript" src="js/plugins/forms/jquery.form.wizard.js"></script>
<script type="text/javascript" src="js/plugins/forms/jquery.form.js"></script>

<script type="text/javascript" src="js/plugins/tables/jquery.dataTables.min.js"></script>

<script type="text/javascript" src="js/files/bootstrap.min.js"></script>

<script type="text/javascript" src="js/files/functions.js"></script>

<script type="text/javascript" src="js/charts/chart1.js"></script>
<script type="text/javascript" src="js/charts/chart2.js"></script>
<script type="text/javascript" src="js/charts/chart3.js"></script>
<script>
        
    function imgLoad(obj,maxWidth,maxHeight){   
        var ratio = 0;  // 缩放比例  
        var width = $(obj).width();    // 图片实际宽度   
        var height = $(obj).height();  // 图片实际高度     // 检查图片是否超宽  
         if(width > maxWidth){   
             ratio = maxWidth / width;   // 计算缩放比例       
             $(obj).css("width", maxWidth); // 设定实际显示宽度       
             height = height * ratio;    // 计算等比例缩放后的高度       
             $(obj).css("height", height);  // 设定等比例缩放后的高度   
         }     // 检查图片是否超高  
         else{         
             ratio = width / maxWidth;      
             $(obj).css("width", maxWidth);   // 设定实际显示高度       
             height = height * ratio;    // 计算等比例缩放后的高度       
             $(obj).css("height", height);    // 设定等比例缩放后的高度   
         }
      }
     
</script>

</head>

<body>

	<!-- Fixed top -->
	<div id="top">
		<div class="fixed">
			<a href="index.html" title="" class="logo"><img src="img/logo.png" alt="" /></a>
				
			<ul class="top-menu">
				<% errors.forEach(function(error){ %>
					<div class="alert alert-error" style="margin-top: 16px;">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<strong>错误!</strong> <%= error %>
					</div>
				<% }) %>
				<li><a class="fullview"></a></li>
				<li><a class="showmenu"></a></li>
				<li><a href="#" title="" class="messages"><i class="new-message"></i></a></li>
				<li class="dropdown">
					<a class="user-menu" data-toggle="dropdown"><img src="/getHeadPicture" onload = imgLoad(this,20,30); alt="" /><span>你好, <% if(current_user){ %> <%= current_user.nick_name %> ！ <% } %> <b class="caret"></b></span></a>
					<ul class="dropdown-menu">
						<li><a href="#" title=""><i class="icon-user"></i>个人资料</a></li>
						<li><a href="#" title=""><i class="icon-inbox"></i>消息<span class="badge badge-info">9</span></a></li>
						<li><a href="/editUser" title=""><i class="icon-cog"></i>设置</a></li>
						<% if(current_user){ %>
						    <% if(current_user.is_admin){ %>	
							    <li><a href="/auditUser" title=""><i class="icon-cog"></i>审核</a></li>
					    	<% } %>
				        <% } %>
						<li><a href="/logout" title=""><i class="icon-remove"></i>退出</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<!-- /fixed top -->


	<!-- Content container -->
	<div id="container">

		<!-- Sidebar -->
		<div id="sidebar">

	        <!-- Sidebar user -->
	        <div class="sidebar-user widget">
				<div class="navbar"><div class="navbar-inner"><h6>欢迎你, <% if(current_user){ %> <%= current_user.nick_name %>! <% } %></h6></div></div>
	            <a href="#" title="" class="user"><img  src="/getHeadPicture" onload = imgLoad(this,210,110); alt="" /></a>
	            <ul class="user-links">
	            	<li><a href="" title="">今日调用总数<strong>5929312</strong></a></li>
	            	<li><a href="" title="">今日异常总数<strong>2964</strong></a></li>
	            	<li><a href="" title="">今日调用成功率<strong>99.95%</strong></a></li>
	            </ul>
	        </div>
	        <!-- /sidebar user -->

	        <div class="general-stats widget">
		        <ul class="head">
		        	<li><span>月-总数</span></li>
		        	<li><span>月-异常</span></li>
		        	<li><span>月-成功率</span></li>
		        </ul>
		        <ul class="body">
		        	<li><strong>6000w+</strong></li>
		        	<li><strong>2.4w+</strong></li>
		        	<li><strong>99.96%</strong></li>
		        </ul>
		    </div>

		    <!-- Main navigation -->
	        <ul class="navigation widget">
	            <li><a href="index.html" title=""><i class="icon-home"></i>分析大厅</a></li>
	            <li class="active"><a href="#" title="" class="expand" id="current"><i class="icon-signal"></i>排名<strong>8</strong></a>
	                <ul>
	                    <li><a href="forms.html" title="" class="current">流程调用超时排名</a></li>
	                    <li><a href="wysiwyg.html" title="">流程调用次数排名</a></li>
	                    <li><a href="form_wizards.html" title="">流程调用异常排名</a></li>
	                </ul>
	            </li>
	            <li><a href="#" title="" class="expand"><i class="icon-tasks"></i>流程分析<strong>4</strong></a>
	                <ul>
	                    <li><a href="components.html" title="">流程分析</a></li>
	                    <li><a href="content_grid.html" title="">Content grid</a></li>
	                    <li><a href="blank.html" title="">Blank page</a></li>
	                </ul>
	            </li>
				<li><a href="#" title="" class="expand"><i class="icon-tasks"></i>服务分析<strong>4</strong></a>
	                <ul>
	                    <li><a href="components.html" title="">服务分析</a></li>
	                    <li><a href="content_grid.html" title="">Content grid</a></li>
	                    <li><a href="blank.html" title="">Blank page</a></li>
	                </ul>
	            </li>
	            <li><a href="media.html" title=""><i class="icon-picture"></i>自定义视图</a></li>
				<li><a href="#" title="" class="expand"><i class="icon-list-alt"></i>数据预测<strong>4</strong></a>
	                <ul>
	                    <li><a href="components.html" title="">服务分析</a></li>
	                    <li><a href="content_grid.html" title="">Content grid</a></li>
	                    <li><a href="blank.html" title="">Blank page</a></li>
	                </ul>
	            </li>
				<li><a href="#" title="" class="expand"><i class="icon-warning-sign"></i>数据告警<strong>4</strong></a>
	                <ul>
	                    <li><a href="components.html" title="">服务分析</a></li>
	                    <li><a href="content_grid.html" title="">Content grid</a></li>
	                    <li><a href="blank.html" title="">Blank page</a></li>
	                </ul>
	            </li>
	            <li><a href="icons.html" title=""><i class="icon-thumbs-up"></i>健康检查</a></li>
	        </ul>
	        <!-- /main navigation -->
	        
		</div>
		<!-- /sidebar -->


		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
		            <ul id="breadcrumbs" class="breadcrumb"> 
		                <li class="active"><a href="#">分析大厅</a></li>
		            </ul>
			        
		            <ul class="alt-buttons">
						<li class="dropdown"><a href="#" title="" data-toggle="dropdown"><i class="icon-warning-sign"></i><span>告警</span> <strong>(+5)</strong></a>
							<ul class="dropdown-menu pull-right">
								<li><a href="#" title=""><i class="icon-info-sign"></i>告警1</a><li>
								<li><a href="#" title=""><i class="icon-info-sign"></i>告警2</a><li>
								<li><a href="#" title=""><i class="icon-info-sign"></i>告警3</a><li>
								<li><a href="#" title=""><i class="icon-list"></i>更多...</a><li>
							</ul>
						</li>
		            </ul>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>分析大厅</h5>
				    	<span>早上好, <% if(current_user){ %> <%= current_user.nick_name %> ！ <% } %></span>
			    	</div>

			    	<ul class="page-stats">
			    		<li>
			    			<div class="showcase">
			    				<span>今日调用数</span>
			    				<h2>592.93w</h2>
			    			</div>
			    			<div id="total-visits" class="chart">10,14,8,45,23,41,22,31,19,12, 28, 21, 24, 20</div>
			    		</li>
			    		<li>
			    			<div class="showcase">
			    				<span>今日异常数</span>
			    				<h2>2964</h2>
			    			</div>
			    			<div id="balance" class="chart">10,14,8,45,23,41,22,31,19,12, 28, 21, 24, 20</div>
			    		</li>
			    	</ul>
			    </div>
			    <!-- /page header -->

			    
		    	<!-- Search widget -->
		    	<form class="search widget" action="#">
		    		<div class="autocomplete-append">
			    		<ul class="search-options">
			    			<li><a href="#" title="去多维视图查询页面" class="go-option tip"></a></li>
			    			<li><a href="#" title="高级查询" class="advanced-option tip"></a></li>
			    			<li><a href="#" title="设置" class="settings-option tip"></a></li>
			    		</ul>
			    		<input type="text" placeholder="搜索功能" id="autocomplete" />
			    		<input type="submit" class="btn btn-info" value="打开" />
			    	</div>
		    	</form>
		    	<!-- /search widget -->

				<h5 class="widget-name"><i class="icon-reorder"></i>常用统计</h5>

		    	<!-- Earnings stats widgets -->
		    	<div class="row-fluid">

		    		<div class="span4">
				        <div class="widget">
							<div class="navbar"><div class="navbar-inner"><h6>流程调用统计(今)</h6></div></div>
				            <div class="well body">
				            	<ul class="stats-details">
				            		<li>
				            			<strong>今天调用总数</strong>
				            			<span>更新时间10:30</span>
				            		</li>
				            		<li>
				            			<div class="number">
					            			<a href="#" title="" data-toggle="dropdown"></a>
											<ul class="dropdown-menu pull-right">
												<li><a href="#" title=""><i class="icon-refresh"></i>刷新</a></li>
												<li><a href="#" title=""><i class="icon-list"></i>查看明细</a></li>
												<li><a href="#" title=""><i class="icon-cog"></i>配置</a></li>
											</ul>
											<span>5929k+</span>
										</div>
				            		</li>
				            	</ul>
				            	<div class="graph" id="chart1"></div>
				            </div>
				        </div>
		    		</div>

		    		<div class="span4">
				        <div class="widget">
							<div class="navbar"><div class="navbar-inner"><h6>流程异常统计(今)</h6></div></div>
				            <div class="well body">
				            	<ul class="stats-details">
				            		<li>
				            			<strong>今日异常总数</strong>
				            			<span>更新时间 10:30</span>
				            		</li>
				            		<li>
				            			<div class="number">
					            			<a href="#" title="" data-toggle="dropdown"></a>
											<ul class="dropdown-menu pull-right">
												<li><a href="#" title=""><i class="icon-refresh"></i>刷新</a></li>
												<li><a href="#" title=""><i class="icon-list"></i>查看明细</a></li>
												<li><a href="#" title=""><i class="icon-cog"></i>配置</a></li>
											</ul>
											<span>2964</span>
										</div>
				            		</li>
				            	</ul>
				            	<div class="graph" id="chart2"></div>
				            </div>
				        </div>
		    		</div>

		    		<div class="span4">
				        <div class="widget">
							<div class="navbar"><div class="navbar-inner"><h6>新装业务统计(今)</h6></div></div>
				            <div class="well body">
				            	<ul class="stats-details">
				            		<li>
				            			<strong>今日新装总数</strong>
				            			<span>更新时间 10:30</span>
				            		</li>
				            		<li>
				            			<div class="number">
					            			<a href="#" title="" data-toggle="dropdown"></a>
											<ul class="dropdown-menu pull-right">
												<li><a href="#" title=""><i class="icon-refresh"></i>刷新</a></li>
												<li><a href="#" title=""><i class="icon-list"></i>查看明细</a></li>
												<li><a href="#" title=""><i class="icon-cog"></i>配置</a></li>
											</ul>
											<span>2031</span>
										</div>
				            		</li>
				            	</ul>
				            	<div class="graph" id="chart3"></div>
				            </div>
				        </div>
		    		</div>
		    	</div>
		    	<!-- /earnings stats widgets -->


                <h5 class="widget-name"><i class="icon-reorder"></i>常用排名</h5>

				<div class="row-fluid">

					<div class="span4">
						<div class="widget navbar-tabs">
	                        <div class="navbar">
	                            <div class="navbar-inner">
	                                <h6>流程超时排名</h6>
	                                <ul class="nav nav-tabs pull-right">
	                                    <li class="active"><a href="#tab1" data-toggle="tab">日</a></li>
	                                    <li><a href="#tab2" data-toggle="tab">月</a></li>
	                                    <li><a href="#tab3" data-toggle="tab">年</a></li>
	                                </ul>
	                            </div>
	                        </div>
	                        <div class="tabbable">
	                            <div class="tab-content">
									<div class="tab-pane active fade in" id="tab1">
										<div class="list">
											<ol>
												<li>ITF_CCHQ_GetBalance<strong class="text-error pull-right">120</strong></li>
												<li>ITF_CRM_GetBalance<strong class="text-error pull-right">120</strong></li>
												<li>QAM_OWEFEE_QUERY<strong class="text-error pull-right">120</strong></li>
												<li>ITF_CCHT_SPTradeOrder<strong class="text-error pull-right">117</strong></li>
												<li>ITF_CRM_SPTradeOrder<strong class="text-error pull-right">117</strong></li>
												<li>ITF_CCHT_SPTradeOrder<strong class="text-error pull-right">116</strong></li>
												<li>ITF_CRM_SPTradeOrder<strong class="text-error pull-right">116</strong></li>
												<li>ITF_CCHT_SPTradeOrder<strong class="text-error pull-right">115</strong></li>
												<li>ITF_CRM_SPTradeOrder<strong class="text-error pull-right">115</strong></li>
												<li>ITF_CCHQ_GetBalance<strong class="text-error pull-right">43</strong></li>
											</ol>
										</div>	
										更新时间2013-08-20 10:30 <a href="#" class="pull-right">更多</a>
									</div>
	                                <div class="tab-pane fade" id="tab2">Howdy, I'm in Section 2.</div>
	                                <div class="tab-pane fade" id="tab3">Howdy, I'm in Section 2.</div>
	                            </div>
	                        </div>
	                    </div>
					</div>

					<div class="span4">
						<div class="widget navbar-tabs">
	                        <div class="navbar">
	                            <div class="navbar-inner">
	                                <h6>流程异常排名</h6>
	                                <ul class="nav nav-tabs pull-right">
	                                    <li class="active"><a href="#tab4" data-toggle="tab">日</a></li>
	                                    <li><a href="#tab5" data-toggle="tab">月</a></li>
	                                    <li><a href="#tab6" data-toggle="tab">年</a></li>
	                                </ul>
	                            </div>
	                        </div>
	                        <div class="tabbable">
	                            <div class="tab-content">
									<div class="tab-pane active fade in" id="tab4">
										<div class="list">
											<ol>
												<li>TCC_ModifyUserCredit<strong class="text-error pull-right">330588</strong></li>
												<li>ITF_CCHQ_GetUserInfoCU<strong class="text-error pull-right">171843</strong></li>
												<li>QAM_pQueryOweState<strong class="text-error pull-right">106127</strong></li>
												<li>ITF_CRM_GetUserInfoCU<strong class="text-error pull-right">25969</strong></li>
												<li>ITF_CCHQ_GetMastBill<strong class="text-error pull-right">4835</strong></li>
												<li>ITF_CCHQ_GetBalance<strong class="text-error pull-right">3099</strong></li>
												<li>ITF_CCHQ_GetRecvLog<strong class="text-error pull-right">3005</strong></li>
												<li>ITF_CRM_GetRecvLog<strong class="text-error pull-right">2890</strong></li>
												<li>ITF_CCHQ_CheckUserPWD_SD<strong class="text-error pull-right">2455</strong></li>
												<li>ITF_CRM_SPTradeOrder<strong class="text-error pull-right">2372</strong></li>
											</ol>
										</div>	
										更新时间2013-08-20 10:30 <a href="#" class="pull-right">更多</a>
									</div>
	                                <div class="tab-pane fade" id="tab5">Howdy, I'm in Section 2.</div>
	                                <div class="tab-pane fade" id="tab6">Howdy, I'm in Section 2.</div>
	                            </div>
	                        </div>
	                    </div>
					</div>

					<div class="span4">
						<div class="widget navbar-tabs">
	                        <div class="navbar">
	                            <div class="navbar-inner">
	                                <h6>流程调用总量排名</h6>
	                                <ul class="nav nav-tabs pull-right">
	                                    <li class="active"><a href="#tab7" data-toggle="tab">日</a></li>
	                                    <li><a href="#tab8" data-toggle="tab">月</a></li>
	                                    <li><a href="#tab9" data-toggle="tab">年</a></li>
	                                </ul>
	                            </div>
	                        </div>
	                        <div class="tabbable">
	                            <div class="tab-content">
									<div class="tab-pane active fade in" id="tab7">
										<div class="list">
											<ol>
												<li>QAM_pQueryOweState<strong class="text-info pull-right">1157876</strong></li>
												<li>ITF_CCHQ_GetUserInfoCU<strong class="text-info pull-right">395854</strong></li>
												<li>TCC_ModifyUserCredit<strong class="text-info pull-right">347458</strong></li>
												<li>ITF_CRM_GetUserInfoCU<strong class="text-info pull-right">260066</strong></li>
												<li>ITF_CRM_GetInfoCU<strong class="text-info pull-right">234092</strong></li>
												<li>ITF_CCHQ_GetBalance<strong class="text-info pull-right">146811</strong></li>
												<li>ITF_CRM_GetBalance<strong class="text-info pull-right">143776</strong></li>
												<li>QAM_OWEFEE_QUERY<strong class="text-info pull-right">97261</strong></li>
												<li>ITF_CCHQ_GetMastBill<strong class="text-info pull-right">54318</strong></li>
												<li>ITF_CRM_GetSuppBill<strong class="text-info pull-right">52524</strong></li>
											</ol>
										</div>	
										更新时间2013-08-20 10:30 <a href="#" class="pull-right">更多</a>
									</div>
	                                <div class="tab-pane fade" id="tab8">Howdy, I'm in Section 2.</div>
	                                <div class="tab-pane fade" id="tab9">Howdy, I'm in Section 2.</div>
	                            </div>
	                        </div>
	                    </div>
					</div>

				</div>
				<!-- /排名 -->


		    	<h5 class="widget-name"><i class="icon-th"></i>热门视图</h5>

                <!-- Media datatable -->
                <div class="widget">
                	<div class="navbar">
                    	<div class="navbar-inner">
                        	<h6>多维视图</h6>
                            <div class="nav pull-right">
                                <a href="#" class="dropdown-toggle navbar-icon" data-toggle="dropdown"><i class="icon-cog"></i></a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="#"><i class="icon-plus"></i>Add new option</a></li>
                                    <li><a href="#"><i class="icon-reorder"></i>View statement</a></li>
                                    <li><a href="#"><i class="icon-cogs"></i>Parameters</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="table-overflow">
                        <table class="table table-striped table-bordered table-hover" id="data-table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>名称</th>
                                    <th>描述</th>
                                    <th>热度</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
									<td>1</td>
			                        <td>某视图1</td>
			                        <td>说明视图视图视图视图视图视图</td>
			                        <td class="file-info">
			                        	<span><strong>321</strong></span>
			                        </td>
                                </tr>
                                <tr>
									<td>2</td>
			                        <td>某视图2</td>
			                        <td>说明视图视图视图视图视图视图</td>
			                        <td class="file-info">
			                        	<span><strong>223</strong></span>
			                        </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /media datatable -->


		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- /content -->

	</div>
	<!-- /content container -->


	<!-- Footer -->
	<div id="footer">
		<div class="copyrights">&copy;  Asaiinfo-Linkage 2013.</div>
		<ul class="footer-links">
			<li><a href="javscript:void(0)" title="Version: 0.1.0"><i class="icon-cogs"></i>Version: 0.1.0</a></li>
			<li><a href="mailto:tangzhi@asiainfo-linkage.com?subject=关于LAP的Bug" title=""><i class="icon-screenshot"></i>反馈Bug</a></li>
		</ul>
	</div>
	<!-- /footer -->

</body>
</html>
