<!DOCTYPE html>
<html lang="zh">

<% include ../includes/head.html %>	

<body>

	
	<% include ../includes/fixedtop.html %>	


	<!-- Content container -->
	<div id="container">

		<% include ../includes/sidebar.html %>	

		<!-- Content -->
		<div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
		            <ul id="breadcrumbs" class="breadcrumb"> 
		                <li><a href="/">分析大厅</a></li>
						<li class="active"><a href="#">排名清单</a></li>
		            </ul>
			        
		            <ul class="alt-buttons">
						<li class="dropdown"><a href="#" title="" data-toggle="dropdown"><i class="icon-warning-sign"></i><span>告警</span> <strong>(+5)</strong></a>
							<ul class="dropdown-menu pull-right">
								<li><a href="#" title=""><i class="icon-info-sign"></i>告警1</a><li>
								<li><a href="#" title=""><i class="icon-info-sign"></i>告警2</a><li>
								<li><a href="#" title=""><i class="icon-info-sign"></i>告警3</a><li>
								<li><a href="#" title=""><i class="icon-list"></i>更多...</a><li>
							</ul>
						</li>
		            </ul>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>排名清单</h5>
				    	<span>早上好, 唐治!</span>
			    	</div>

			    	<ul class="page-stats">
			    		<li>
			    			<div class="showcase">
			    				<span>日访问量</span>
								<h2>12</h2>
			    			</div>
							<div id="total-visits" class="chart">10,14,8,45,23,41,22,31,19,12, 28, 21, 24, 20</div>
			    		</li>
			    		<li>
			    			<div class="showcase">
			    				<span>总访问量</span>
			    				<h2>264</h2>
			    			</div>
			    			<div id="balance" class="chart">10,14,8,45,23,41,22,31,19,12, 28, 21, 24, 20</div>
			    		</li>
			    	</ul>
			    </div>
			    <!-- /page header -->

			    
		    
                <h5 class="widget-name"></h5>

				<div class="row-fluid">

					<div class="span4">

						<% var tabIdx = 0 %>
						<% var item = all['TuxStateTimeOutTop'] %>
						<% include ../includes/widget/top.html %>		

						<% var item = all['TuxStateCalledSumByLcu'] %>
						<% include ../includes/widget/top.html %>		

						<div class="widget navbar-tabs">
	                        <div class="navbar">
	                            <div class="navbar-inner">
	                                <h6>流程异常排名</h6>
	                                <ul class="nav nav-tabs pull-right">
	                                    <li class="active"><a href="#tab4" data-toggle="tab">日</a></li>
	                                    <li><a href="#tab5" data-toggle="tab">月</a></li>
	                                    <li><a href="#tab6" data-toggle="tab">年</a></li>
	                                </ul>
	                            </div>
	                        </div>
	                        <div class="tabbable">
	                            <div class="tab-content">
									<div class="tab-pane active fade in" id="tab4">
										<div class="list">
											<ol>
												<li>TCC_ModifyUserCredit<strong class="text-error pull-right">330588</strong></li>
												<li>ITF_CCHQ_GetUserInfoCU<strong class="text-error pull-right">171843</strong></li>
												<li>QAM_pQueryOweState<strong class="text-error pull-right">106127</strong></li>
												<li>ITF_CRM_GetUserInfoCU<strong class="text-error pull-right">25969</strong></li>
												<li>ITF_CCHQ_GetMastBill<strong class="text-error pull-right">4835</strong></li>
												<li>ITF_CCHQ_GetBalance<strong class="text-error pull-right">3099</strong></li>
												<li>ITF_CCHQ_GetRecvLog<strong class="text-error pull-right">3005</strong></li>
												<li>ITF_CRM_GetRecvLog<strong class="text-error pull-right">2890</strong></li>
												<li>ITF_CCHQ_CheckUserPWD_SD<strong class="text-error pull-right">2455</strong></li>
												<li>ITF_CRM_SPTradeOrder<strong class="text-error pull-right">2372</strong></li>
											</ol>
										</div>	
										更新时间2013-08-20 10:30 <a href="#" class="pull-right">更多</a>
									</div>
	                                <div class="tab-pane fade" id="tab5">Howdy, I'm in Section 2.</div>
	                                <div class="tab-pane fade" id="tab6">Howdy, I'm in Section 2.</div>
	                            </div>
	                        </div>
	                    </div>
	
					</div>

					<div class="span4">

						<div class="widget navbar-tabs">
	                        <div class="navbar">
	                            <div class="navbar-inner">
	                                <h6>流程异常率排名</h6>
	                                <ul class="nav nav-tabs pull-right">
	                                    <li class="active"><a href="#tab5" data-toggle="tab">日</a></li>
	                                    <li><a href="#tab6" data-toggle="tab">月</a></li>
	                                </ul>
	                            </div>
	                        </div>
	                        <div class="tabbable">
	                            <div class="tab-content">
	                                <div class="tab-pane active fade in" id="tab5">I'm in Section 1.</div>
	                                <div class="tab-pane fade" id="tab6">Howdy, I'm in Section 2.</div>
	                            </div>
	                        </div>
	                    </div>

						<div class="widget navbar-tabs">
	                        <div class="navbar">
	                            <div class="navbar-inner">
	                                <h6>服务调用总时长排名</h6>
	                                <ul class="nav nav-tabs pull-right">
	                                    <li class="active"><a href="#tab13" data-toggle="tab">日</a></li>
	                                    <li><a href="#tab14" data-toggle="tab">月</a></li>
	                                </ul>
	                            </div>
	                        </div>
	                        <div class="tabbable">
	                            <div class="tab-content">
	                                <div class="tab-pane active" id="tab13"> I'm in Section 1.  </div>
	                                <div class="tab-pane" id="tab14">Howdy, I'm in Section 2.</div>
	                            </div>
	                        </div>
	                    </div>

						<div class="widget navbar-tabs">
	                        <div class="navbar">
	                            <div class="navbar-inner">
	                                <h6>服务调用总量排名</h6>
	                                <ul class="nav nav-tabs pull-right">
	                                    <li class="active"><a href="#tab13" data-toggle="tab">日</a></li>
	                                    <li><a href="#tab14" data-toggle="tab">月</a></li>
	                                </ul>
	                            </div>
	                        </div>
	                        <div class="tabbable">
	                            <div class="tab-content">
	                                <div class="tab-pane active" id="tab13"> I'm in Section 1.  </div>
	                                <div class="tab-pane" id="tab14">Howdy, I'm in Section 2.</div>
	                            </div>
	                        </div>
	                    </div>

					</div>

					<div class="span4">

						<div class="widget navbar-tabs">
	                        <div class="navbar">
	                            <div class="navbar-inner">
	                                <h6>服务调用异常排名</h6>
	                                <ul class="nav nav-tabs pull-right">
	                                    <li class="active"><a href="#tab5" data-toggle="tab">日</a></li>
	                                    <li><a href="#tab6" data-toggle="tab">月</a></li>
	                                </ul>
	                            </div>
	                        </div>
	                        <div class="tabbable">
	                            <div class="tab-content">
	                                <div class="tab-pane active fade in" id="tab5">I'm in Section 1.</div>
	                                <div class="tab-pane fade" id="tab6">Howdy, I'm in Section 2.</div>
	                            </div>
	                        </div>
	                    </div>

						<div class="widget navbar-tabs">
	                        <div class="navbar">
	                            <div class="navbar-inner">
	                                <h6>服务调用异常率排名</h6>
	                                <ul class="nav nav-tabs pull-right">
	                                    <li class="active"><a href="#tab13" data-toggle="tab">日</a></li>
	                                    <li><a href="#tab14" data-toggle="tab">月</a></li>
	                                </ul>
	                            </div>
	                        </div>
	                        <div class="tabbable">
	                            <div class="tab-content">
	                                <div class="tab-pane active" id="tab13"> I'm in Section 1.  </div>
	                                <div class="tab-pane" id="tab14">Howdy, I'm in Section 2.</div>
	                            </div>
	                        </div>
	                    </div>

						<div class="widget navbar-tabs">
	                        <div class="navbar">
	                            <div class="navbar-inner">
	                                <h6>服务调用平均时长排名</h6>
	                                <ul class="nav nav-tabs pull-right">
	                                    <li class="active"><a href="#tab13" data-toggle="tab">日</a></li>
	                                    <li><a href="#tab14" data-toggle="tab">月</a></li>
	                                </ul>
	                            </div>
	                        </div>
	                        <div class="tabbable">
	                            <div class="tab-content">
	                                <div class="tab-pane active" id="tab13"> I'm in Section 1.  </div>
	                                <div class="tab-pane" id="tab14">Howdy, I'm in Section 2.</div>
	                            </div>
	                        </div>
	                    </div>

					</div>

				</div>
				<!-- /排名 -->


		    </div>
		    <!-- /content wrapper -->

		</div>
		<!-- /content -->

	</div>
	<!-- /content container -->


	<% include ../includes/foot.html %>	

</body>
</html>
