<!-- Sidebar -->
		<div id="sidebar">

	        <!-- Sidebar user -->
	        <div class="sidebar-user widget">
				<div class="navbar"><div class="navbar-inner"><h6>欢迎你, <% if(current_user){ %> <%= current_user.nick_name %>! <% } %></h6></div></div>
	            <a href="#" title="" class="user"><img src="/getHeadPicture" onload = imgLoad(this,210,110); alt="" /></a>
	            <ul class="user-links">
	            	<li><a href="" title="">今日调用总数<strong>5929312</strong></a></li>
	            	<li><a href="" title="">今日异常总数<strong>2964</strong></a></li>
	            	<li><a href="" title="">今日调用成功率<strong>99.95%</strong></a></li>
	            </ul>
	        </div>
	        <!-- /sidebar user -->

	        <div class="general-stats widget">
		        <ul class="head">
		        	<li><span>月-总数</span></li>
		        	<li><span>月-异常</span></li>
		        	<li><span>月-成功率</span></li>
		        </ul>
		        <ul class="body">
		        	<li><strong>6000w+</strong></li>
		        	<li><strong>2.4w+</strong></li>
		        	<li><strong>99.96%</strong></li>
		        </ul>
		    </div>

		    <!-- Main navigation -->
	        <ul class="navigation widget">
	            <li><a href="index.html" title=""><i class="icon-home"></i>分析大厅</a></li>
	            <li class="active"><a href="#" title="" class="expand" id="current"><i class="icon-signal"></i>排名<strong>8</strong></a>
	                <ul>
	                    <li><a href="forms.html" title="" class="current">流程调用超时排名</a></li>
	                    <li><a href="wysiwyg.html" title="">流程调用次数排名</a></li>
	                    <li><a href="form_wizards.html" title="">流程调用异常排名</a></li>
	                </ul>
	            </li>
	            <li><a href="#" title="" class="expand"><i class="icon-tasks"></i>流程分析<strong>4</strong></a>
	                <ul>
	                    <li><a href="components.html" title="">流程分析</a></li>
	                    <li><a href="content_grid.html" title="">Content grid</a></li>
	                    <li><a href="blank.html" title="">Blank page</a></li>
	                </ul>
	            </li>
				<li><a href="#" title="" class="expand"><i class="icon-tasks"></i>服务分析<strong>4</strong></a>
	                <ul>
	                    <li><a href="components.html" title="">服务分析</a></li>
	                    <li><a href="content_grid.html" title="">Content grid</a></li>
	                    <li><a href="blank.html" title="">Blank page</a></li>
	                </ul>
	            </li>
	            <li><a href="media.html" title=""><i class="icon-picture"></i>自定义视图</a></li>
				<li><a href="#" title="" class="expand"><i class="icon-list-alt"></i>数据预测<strong>4</strong></a>
	                <ul>
	                    <li><a href="components.html" title="">服务分析</a></li>
	                    <li><a href="content_grid.html" title="">Content grid</a></li>
	                    <li><a href="blank.html" title="">Blank page</a></li>
	                </ul>
	            </li>
				<li><a href="#" title="" class="expand"><i class="icon-warning-sign"></i>数据告警<strong>4</strong></a>
	                <ul>
	                    <li><a href="components.html" title="">服务分析</a></li>
	                    <li><a href="content_grid.html" title="">Content grid</a></li>
	                    <li><a href="blank.html" title="">Blank page</a></li>
	                </ul>
	            </li>
	            <li><a href="icons.html" title=""><i class="icon-thumbs-up"></i>健康检查</a></li>
	        </ul>
	        <!-- /main navigation -->
	        
		</div>
		<!-- /sidebar -->

